body {
    background: purple;
    font-family: Arial;
}

h1 {
    text-align: center;
    color: rgb(255, 159, 191);
    font-family: Arial;
    font-size: 3em;
}

#multiplication-box {
    min-width: 300px;
    max-width: 600px;
    height: 70vh;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2vh auto;
}

#first-num, #second-num, #user-answer{
    padding: 10px;
    font-size: 10em;
}

#second-num {
    padding-right: 0.55em;
}

.answer-row {
    max-width: 80%;
    min-height: 5em;
    display: flex;
    align-items: center;
}

#user-answer {
    max-width: 300px;
    font-size: 10em;
}

#equals, #times {
    font-size: 10em;
}

#answer {
    visibility: hidden;
    background-color: purple;
    color: white;
    font-size: 3em;
    align-self: flex-end;
    padding: 5px;
    margin-right: 150px;
}

button {
    margin-right: 2px;
    padding: 10px;
    align-self: flex-end;
    background: #ddd;
    color: black;
    border: 5px solid purple;
    font-weight: bold;
    margin-bottom: 2px;
}

#enter-button {
    position: relative;
    left: 10px;
    bottom: 80px;
    min-width: 100px;
}